<launch>

    <param name="/use_sim_time" value="false"/>
    <!-- ************** Stage Simulator *************** -->
    <!-- ************** Cost Maps *************** -->
    <!-- Load common costmap parameters first -->
    <rosparam file="$(find map_creator)/cfg/costmap_common_params.yaml" command="load"/>

    <node name="global_costmap" pkg="costmap_2d" type="costmap_2d_node" output="screen" ns="global_costmap">
        <rosparam file="$(find map_creator)/cfg/global_costmap_params.yaml" command="load"/>
    </node>

    <node name="local_costmap" pkg="costmap_2d" type="costmap_2d_node" output="screen" ns="local_costmap">
        <rosparam file="$(find map_creator)/cfg/local_costmap_params.yaml" command="load"/>
    </node>

    <!-- ****** Maps ***** -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find map_creator)/maps/map_slalom.yaml" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <!-- Static Transform Publisher -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 world map 100"/>
    #it is not needed world->map unless the stack  uses a global reference frame like GPS.

    <!-- **************** Visualisation **************** -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_creator)/cfg/rviz_navigation.rviz"/>

</launch>
