<launch>
    <!-- start base and load model -->
    <include file="$(find hunter_base)/launch/hunter_base_sim.launch">
        <arg name="simulated_robot" default="true" />
        <arg name="control_rate" default="25" />
        <param name="/use_sim_time" value="false"/>

    </include>
</launch>
