<?xml version="1.0" encoding="utf-8"?>
<robot name="ackermann_drive" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find ign_ros2_control_demos)/urdf/steerbot.specs" />
    <!--<xacro:include filename="$(find ign_ros2_control_demos)/urdf/steerbot.gazebo"/>-->
    <link name="steerbot_footprint"/>

    <joint name="steerbot_footprint_joint" type="fixed">
        <origin xyz="0.28018 0 1.0" rpy="0 0 0" />
        <parent link="steerbot_footprint"/>
        <child link="steerbot_chassis"/>
    </joint>
    
    <link name="steerbot_chassis">
        <pose> 0 0 0 0 0 0</pose>
        <inertial>
            <mass value="${chassis_mas}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>

            <inertia
               ixx="0.0332370959804736"
               ixy="-1.013150489971E-06"
               ixz="-0.00188859201421112"
               iyy="0.111072002332437"
               iyz="-5.13308150598312E-07"
               izz="0.12660862809283" />
           </inertial>

        <collision name="chassis_collision">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh
                 filename="file://$(find ign_ros2_control_demos)/meshes/base_link.STL" />
            </geometry>
        </collision>

        <visual name="chassis_visual">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh
                filename="file://$(find ign_ros2_control_demos)/meshes/base_link.STL" />
            </geometry>
            <material name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>

        </visual>

    </link>

    <!-- FRONT WHEELS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

    <link name="front_left_wheel">
        <collision>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <cylinder radius="${wheel_rad}" length="${wheel_wid}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${wheel_mas}"/>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <inertia
                ixx='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                iyy='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                izz='${.5 * wheel_mas *  wheel_rad_sq}' 
                ixy="0" ixz="0" iyz="0"
                />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <mesh
                filename="file://$(find ign_ros2_control_demos)/meshes/front_left_wheel_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
    </link>
  
    <link name="front_right_wheel">
        <collision>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <cylinder radius="${wheel_rad}" length="${wheel_wid}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${wheel_mas}"/>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <inertia
                ixx='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                iyy='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                izz='${.5 * wheel_mas *  wheel_rad_sq}' 
                ixy="0" ixz="0" iyz="0"
                />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <mesh
                filename="file://$(find ign_ros2_control_demos)/meshes/front_left_wheel_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
    </link>


    <!-- Strut dims are derived from the dims of the wheel they carry -->
    <link name="front_left_strut">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </collision>

        <inertial> 
            <mass value="${strut_mas}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                     ixx="${1./12. * strut_mas * (2 * strut_wid)}" 
                     iyy="${1./12. * strut_mas * (2 * strut_wid)}" 
                     izz="${1./12. * strut_mas * (2 * strut_wid)}" 
                     ixy="0.0" ixz="0.0" iyz="0.0" 
            />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </visual>
    </link>

    <link name="front_right_strut">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${strut_mas}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                     ixx="${1./12. * strut_mas * (2 * strut_wid)}" 
                     iyy="${1./12. * strut_mas * (2 * strut_wid)}" 
                     izz="${1./12. * strut_mas * (2 * strut_wid)}" 
                     ixy="0.0" ixz="0.0" iyz="0.0" 
            />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </visual>
    </link>


    <joint name="front_left_wheel_bearing" type="continuous">
        <origin xyz="0 ${strut_wid+.002} 0" rpy="0 0 0"/>
        <child link="front_left_wheel"/>
        <parent link="front_left_strut"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>
  
    <joint name="front_left_steer_bearing" type="continuous">
        <!--
            The wheel_rad/3.0 gives some space between strut and chassis that
            is defined in terms of strut dims, which is in turn defined in 
            terms of wheel dims 
        -->
        <origin xyz='0.37142 0.3025 -0.1955' rpy="0 0 0"/>
        <child link="front_left_strut"/>
        <parent link="steerbot_chassis"/>
        <axis xyz="0 0 1" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>

     <joint name="front_right_wheel_bearing" type="continuous">
        <origin xyz="0 -${strut_wid+.002} 0" rpy="0 0 0"/>
        <child link="front_right_wheel"/>
        <parent link="front_right_strut"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>
  
    <joint name="front_right_steer_bearing" type="continuous">
        <!--
            The wheel_rad/3.0 gives some space between strut and chassis that
            is defined in terms of strut dims, which is in turn defined in 
            terms of wheel dims 
        -->
        <origin xyz='0.37142 -0.3025 -0.1955' rpy="0 0 0"/>
        <child link="front_right_strut"/>
        <parent link="steerbot_chassis"/>
        <axis xyz="0 0 1" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>

    <!-- REAR WHEELS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <link name="rear_left_wheel">
        <collision>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <cylinder radius="${wheel_rad}" length="${wheel_wid}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${wheel_mas}"/>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <inertia
                ixx='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                iyy='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                izz='${.5 * wheel_mas *  wheel_rad_sq}' 
                ixy="0" ixz="0" iyz="0"
                />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <mesh
                filename="file://$(find ign_ros2_control_demos)/meshes/left_rear_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
    </link>
  
    <link name="rear_right_wheel">
        <collision>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <cylinder radius="${wheel_rad}" length="${wheel_wid}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${wheel_mas}"/>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <inertia
                ixx='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                iyy='${wheel_mas * (1./12.*wheel_wid_sq + 0.25*wheel_rad_sq)}'
                izz='${.5 * wheel_mas *  wheel_rad_sq}' 
                ixy="0" ixz="0" iyz="0"
                />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
            <geometry>
                <mesh
                filename="file://$(find ign_ros2_control_demos)/meshes/left_rear_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0 0 0 1" />
            </material>

        </visual>
    </link>


    <!-- Strut dims are derived from the dims of the wheel they carry -->
    <link name="rear_left_strut">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${strut_mas}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                     ixx="${1./12. * strut_mas * (2 * strut_wid)}" 
                     iyy="${1./12. * strut_mas * (2 * strut_wid)}" 
                     izz="${1./12. * strut_mas * (2 * strut_wid)}" 
                     ixy="0.0" ixz="0.0" iyz="0.0" 
            />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </visual>
    </link>

    <link name="rear_right_strut">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${strut_mas}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                     ixx="${1./12. * strut_mas * (2 * strut_wid)}" 
                     iyy="${1./12. * strut_mas * (2 * strut_wid)}" 
                     izz="${1./12. * strut_mas * (2 * strut_wid)}" 
                     ixy="0.0" ixz="0.0" iyz="0.0" 
            />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size='${strut_wid} ${strut_wid} ${strut_wid}'/>
            </geometry>
        </visual>
    </link>


    <joint name="rear_left_wheel_bearing" type="continuous">
        <origin xyz="0 ${strut_wid+.002} 0" rpy="0 0 0"/>
        <child link="rear_left_wheel"/>
        <parent link="rear_left_strut"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>
  
    <joint name="rear_left_steer_bearing" type="fixed">
        <!--
            The wheel_rad/3.0 gives some space between strut and chassis that
            is defined in terms of strut dims, which is in turn defined in 
            terms of wheel dims 
        -->
        <origin xyz='-0.28018 0.3025 -0.19558' rpy="0 0 0"/>
        <child link="rear_left_strut"/>
        <parent link="steerbot_chassis"/>
        <axis xyz="0 0 1" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>

    <joint name="rear_right_wheel_bearing" type="continuous">
        <origin xyz="0 -${strut_wid+.002} 0" rpy="0 0 0"/>
        <child link="rear_right_wheel"/>
        <parent link="rear_right_strut"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>
  
    <joint name="rear_right_steer_bearing" type="fixed">
        <!--
            The wheel_rad/3.0 gives some space between strut and chassis that
            is defined in terms of strut dims, which is in turn defined in 
            terms of wheel dims 
        -->
        <origin xyz='-0.28018 -0.3025 -0.19558' rpy="0 0 0"/>
        <child link="rear_right_strut"/>
        <parent link="steerbot_chassis"/>
        <axis xyz="0 0 1" rpy="0 0 0"/>
        <limit effort="1000" velocity="1000"/>
        <dynamics damping="${bearing_damping}" friction="${bearing_friction}"/>
    </joint>

    <!-- IMU Sensor -->
    <link name="imu_link">
      <visual>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <!-- IMU Sensor Joint -->
    <joint name="imu_joint" type="fixed">
      <parent link="steerbot_chassis" />
      <child link="imu_link" />
      <origin xyz="-0.28018 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name='imu_sensor' type='imu'>
            <pose>-0.28018 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <visualize>1</visualize>
            <topic>/imu</topic>
            <plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
                <topicName>imu_data</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>100.0</updateRateHZ>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
            </plugin>

            <!-- Noise Parameters -->
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.4e-4</stddev>  <!-- Gyroscope noise -->
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.4e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.4e-4</stddev>
                        </noise>
                    </z>
                </angular_velocity>

                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.57e-3</stddev>  <!-- Accelerometer noise -->
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.57e-3</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.57e-3</stddev>
                        </noise>
                    </z>
                </linear_acceleration>

                <!-- Bias Instability (Random Walk Noise) -->
                <bias>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>8.7e-3</stddev>  <!-- Gyroscope bias instability -->
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>8.7e-3</stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>8.7e-3</stddev>
                            </noise>
                        </z>
                    </angular_velocity>

                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2.0e-1</stddev>  <!-- Accelerometer bias instability -->
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2.0e-1</stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2.0e-1</stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </bias>
            </imu>
        </sensor>
    </gazebo>


<ros2_control name="IgnitionSystem" type="system">
  <hardware>
    <plugin>ign_ros2_control/IgnitionSystem</plugin>
  </hardware>

  <joint name="rear_left_wheel_bearing">
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="rear_right_wheel_bearing">
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="front_left_steer_bearing">
    <command_interface name="position"/>
    <state_interface name="position"/>
  </joint>

  <joint name="front_right_steer_bearing">
    <command_interface name="position"/>
    <state_interface name="position"/>
  </joint>

</ros2_control>

  <gazebo>
      <plugin name="JointStatePublisher" filename="libJointStatePublisher.so"/>
  </gazebo>


  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find ign_ros2_control_demos)/config/ackermann_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Odometry Publisher Plugin -->
  <gazebo>
    <plugin filename="libignition-gazebo-odometry-publisher-system.so" 
            name="ignition::gazebo::systems::OdometryPublisher">
        <odom_frame>ackermann/odom</odom_frame>
        <robot_base_frame>ackermann</robot_base_frame>
        <publish_rate>50</publish_rate>
    </plugin>
  </gazebo>


</robot>
